
*{
	margin: 0;
	padding: 0;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* border: 1px solid black; */
	margin-top: 10%;
	font-family: "Poppins", sans-serif;
}

.logo-ipaam{
	width: 150px;
}

form{
	/* margin-top: 50px; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 450px;
	height: 400px;
	/* border: 1px solid black; */
}

.container-form{
	border-radius: 10px;
	border-color: green;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vh;
	height: 100%;
}

.legend-logo{
	text-align: center;
}

input{
	width: 80%;
	height: 50px;
	margin: 15px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid green;
	font-size: 17px;
	font-family: "Poppins", sans-serif;
}

.borda-input{
	width: 80%;
	border-radius: 10px;
	border-color: green;
	text-align: center;
	margin: 10px;
}

button{
	margin: 20px;
	width: 150px;
	height: 50px;
	border-radius: 5px;
	border: none;
	background-color: green;
	color: white;
	font-size: 17px;
	font-family: "Poppins", sans-serif;
}

button:hover{
	background-color: rgb(2, 51, 2);
}

footer{
	margin-top: 40px;
	/* border: 1px solid black; */
	text-align: center;
	font-family: "Poppins", sans-serif;
}