@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
.container{display: flex;}
.sidebar{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* border: 1px solid black; */
	height: 100vh;
	border: 1px solid rgba(0, 0, 0, 0.142);
}
.menu-content{
	display: none;
}
.active{
	display: block;
}
.logo-ipaam{
	width: 300px;
	height: 100vh;
}
.menu-logo{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.menu-logo > h4{text-align: center;}
.logo-ipaam img{
	width: 100px;
	margin: 15px;
}
.logo-ipaam h4{
	font-weight: 200;
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.142);;
}
.menu-nav{
	margin: 20px;
	/* border: 1px solid red; */
	width: 90%;
}
.menu-nav h3{
	font-weight: 200;
	font-size: 14px;
	/* border: 1px solid blue; */
	text-transform: uppercase;
}
.menu-nav ul{
	list-style-type: none;
	margin-top: 20px;
}
.menu-nav{text-decoration: none;}
.menu-nav > ul > li{
	padding: 7px;
	width: 100%;
}
.menu-nav > ul > li > a{
	color: black;
	text-decoration: none;
	font-size: 15px;
}
.fa-solid{margin-right: 15px;}
.nav-footer{
	/* border: 1px solid pink; */
	padding: 25px;
	text-align: center;
	border-top: 1px solid rgba(0, 0, 0, 0.142);
}
.menu-nav > ul > li:hover{
	border-radius: 15px;
	width: 100%;
	background-color: #188216;
	margin-left: 2px;
}
.content{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 20px;
	background-color: #f0f7ea;
}
.menu-content{display: none;}
.menu-content.active{display: block;}
.card-dashboard{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 50px;
	/* border: 1px solid black; */
}
.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 100px;
	width: 250px;
	border-radius: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}
.veiculos-disponiveis{
	background-color: rgba(52, 167, 52, 0.623);
}
.motoristas-disponiveis{
	background-color: rgba(0, 255, 255, 0.621);
}
.requisicoes-abertas{
	background-color: rgba(98, 21, 169, 0.679);
}
.viagens-requisicoes-andamento{
background-color: rgba(113, 65, 6, 0.547);
}
.requisicoes-realizadas{
	background-color: rgba(0, 0, 0, 0.404);
}
.card:hover{transform: scale(1.05);}
.titulo-card > p{
	font-size: 12px;
	font-weight: 300;
	color: rgba(128, 128, 128, 0.749);
}
.card-viagens-andamento{
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card-andamento{
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 60%;
	margin: 15px;
	padding: 10px;
	border-radius: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}
.titulo-viagem{
	display: flex;
	justify-content: space-between;
}
.titulo-viagem > .align-items{
	font-size: 12px;
}
.info{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	font-size: 12px;
}
.align-items{
	display: flex;
	align-items: center;
}
.tela-andamento{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.botao-finalizar > button{
	padding: 5px;
	background-color: rgba(194, 3, 3, 0.977);
	font-size: 12px;
	color: white;
	border: none;
	border-radius: 5px;
}
.botao-finalizar > button:hover{
	background-color: rgba(109, 3, 3, 0.977);
}
#meu-dialogo{
	margin: auto;
	text-align: center;
	background-color: rgb(240, 240, 240);
	width: 500px;
	height: 250px;
	border: none;
	border-radius: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}
.text-fechar{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
}
.text-fechar > button{
	background-color: rgba(194, 3, 3, 0.977);
	font-size: 13px;
	color: white;
	border: none;
	border-radius: 5px;
	width: 80px;
	height: 34px;
}
.text-fechar > button:hover{
	background-color: rgb(120, 1, 1);
}
.linhas-form > div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.linhas-form > div > label{
	font-size: 20px;
}
.linhas-form > div > input{
	width: 70%;
}
.linhas-form > div > button{
	margin-top: 15px;
	background-color: #1cc919;
	font-size: 13px;
	border: none;
	border-radius: 5px;
	width: 80px;
	height: 34px;
}
.linhas-form > div > button:hover{
	background-color: #188216;
}
.card-requisicoes{
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 60%;
	margin: auto;
	margin-top: 30px;
	padding: 10px;
	border-radius: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}
.info-requisicao{
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 30px;
}
.info-requisicao > div{
	display: flex;
	align-items: center;
}
.titulo-card-requisicao{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.titulo-card-requisicao > button{
	background-color: #1cc919;
	font-size: 13px;
	border: none;
	border-radius: 5px;
	width: 80px;
	height: 34px;
}
.titulo-card-requisicao > button:hover{
	background-color: #188216;
}
#meu-dialogo-requisicao{
	margin: auto;
	text-align: center;
	background-color: rgb(240, 240, 240);
	width: 500px;
	height: 420px;
	border: none;
	border-radius: 10px;
	 transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}
.table{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
.table > button{
	background-color: rgba(194, 3, 3, 0.977);
	color: white;
	font-size: 13px;
	border: none;
	border-radius: 5px;
	width: 100px;
	height: 40px;
}
.table > button:hover{
	background-color: rgb(120, 1, 1);
}
table{
	border: 1px solid black;
	background-color: white;
	margin: auto;
	margin-top: 50px;
	width: 50%;
	border-radius: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}
th{
	font-size: 15px;
	border: 1px solid black;
	background-color: #188216;
	color: white;
	border-radius: 10px;
}
td{
	border: 1px solid black;
	text-align: center;
	border-radius: 10px;
	font-size: 12px;
}
#meu-dialogo-veiculo{
	margin: auto;
	text-align: center;
	background-color: rgb(240, 240, 240);
	width: 500px;
	height: 370px;
	border: none;
	border-radius: 10px;
	 transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}
#meu-dialogo-motorista{
	margin: auto;
	text-align: center;
	background-color: rgb(240, 240, 240);
	width: 500px;
	height: 300px;
	border: none;
	border-radius: 10px;
	 transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}
input{
	padding: 5px;
}
.tabela-relatorio{
	border: 1px solid black;
	background-color: white;
	margin: auto;
	margin-top: 50px;
	width: 100%;
	border-radius: 10px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 11px 0px rgba(0,0,0,0.75);
}